h2, h4 {
    color: brown;
}

footer {
    height: 10vh;
    padding: 20px;
    color: white;
    background-color: rgba(190, 190, 0, 0.68);
    text-align: center;

}
* {
 margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
   margin: 0;
   padding: 0;
}

.Lambang {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
  margin-top: 20px;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: green;
    text-align: center;
    color: white;
  }

  nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }

  li a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: rgba(91, 153, 91, 0.831);
    padding: 5px;

    position:sticky;
    top: 0;
}

.b-footer {
    text-align: center;
}

main {
    padding: 20px;
}
